# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mataura,NZ,-46.1927,168.8643,55.96,52,37,6.17,scattered clouds
1,1,Longyearbyen,SJ,78.2186,15.6401,39.04,70,75,14.97,broken clouds
2,2,Zaporizhzhya,UA,47.8167,35.1833,58.17,63,83,12.64,broken clouds
3,3,Iacu,BR,-12.7672,-40.2117,69.84,92,2,3.09,clear sky
4,4,Puerto Ayora,EC,-0.7393,-90.3518,64.54,97,98,5.01,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 80

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mataura,NZ,-46.1927,168.8643,55.96,52,37,6.17,scattered clouds
2,2,Zaporizhzhya,UA,47.8167,35.1833,58.17,63,83,12.64,broken clouds
3,3,Iacu,BR,-12.7672,-40.2117,69.84,92,2,3.09,clear sky
4,4,Puerto Ayora,EC,-0.7393,-90.3518,64.54,97,98,5.01,overcast clouds
5,5,Airai,TL,-8.9266,125.4092,78.19,46,21,4.81,few clouds
8,8,Khash,IR,28.2211,61.2158,71.35,4,0,7.56,clear sky
10,10,Kapaa,US,22.0752,-159.3190,76.10,81,95,1.01,overcast clouds
11,11,Fuling,CN,29.7022,107.3919,58.51,94,100,1.41,overcast clouds
12,12,Mar Del Plata,AR,-38.0023,-57.5575,59.09,85,100,12.66,overcast clouds
13,13,Saint George,US,37.1041,-113.5841,75.25,36,7,4.00,clear sky

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

clean_travel_cities

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mataura,NZ,-46.1927,168.8643,55.96,52,37,6.17,scattered clouds
2,2,Zaporizhzhya,UA,47.8167,35.1833,58.17,63,83,12.64,broken clouds
3,3,Iacu,BR,-12.7672,-40.2117,69.84,92,2,3.09,clear sky
4,4,Puerto Ayora,EC,-0.7393,-90.3518,64.54,97,98,5.01,overcast clouds
5,5,Airai,TL,-8.9266,125.4092,78.19,46,21,4.81,few clouds
...,...,...,...,...,...,...,...,...,...,...
660,660,Santa Isabel Do Rio Negro,BR,-0.4139,-65.0192,75.54,76,61,2.91,broken clouds
662,662,Diamantino,BR,-14.4086,-56.4461,66.56,81,61,4.65,broken clouds
664,664,Mengcheng,CN,33.2579,116.5655,68.83,56,86,6.31,overcast clouds
665,665,Alibunan,PH,11.1465,122.4591,79.95,82,97,6.87,heavy intensity rain
666,666,Whyalla,AU,-33.0333,137.5833,58.89,51,56,17.81,broken clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mataura,NZ,55.96,scattered clouds,-46.1927,168.8643,
2,Zaporizhzhya,UA,58.17,broken clouds,47.8167,35.1833,
3,Iacu,BR,69.84,clear sky,-12.7672,-40.2117,
4,Puerto Ayora,EC,64.54,overcast clouds,-0.7393,-90.3518,
5,Airai,TL,78.19,few clouds,-8.9266,125.4092,
8,Khash,IR,71.35,clear sky,28.2211,61.2158,
10,Kapaa,US,76.10,overcast clouds,22.0752,-159.3190,
11,Fuling,CN,58.51,overcast clouds,29.7022,107.3919,
12,Mar Del Plata,AR,59.09,overcast clouds,-38.0023,-57.5575,
13,Saint George,US,75.25,clear sky,37.1041,-113.5841,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mataura,NZ,55.96,scattered clouds,-46.1927,168.8643,Ellie's Villa
2,Zaporizhzhya,UA,58.17,broken clouds,47.8167,35.1833,Intourist hotel
3,Iacu,BR,69.84,clear sky,-12.7672,-40.2117,Pousada e Restaurante Portal da Chapada
4,Puerto Ayora,EC,64.54,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
5,Airai,TL,78.19,few clouds,-8.9266,125.4092,
8,Khash,IR,71.35,clear sky,28.2211,61.2158,خوابگاه آبجی محدثه
10,Kapaa,US,76.10,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
11,Fuling,CN,58.51,overcast clouds,29.7022,107.3919,Yingbin Hostel
12,Mar Del Plata,AR,59.09,overcast clouds,-38.0023,-57.5575,Gran Hotel Mar del Plata
13,Saint George,US,75.25,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [10]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mataura,NZ,55.96,scattered clouds,-46.1927,168.8643,Ellie's Villa
2,Zaporizhzhya,UA,58.17,broken clouds,47.8167,35.1833,Intourist hotel
3,Iacu,BR,69.84,clear sky,-12.7672,-40.2117,Pousada e Restaurante Portal da Chapada
4,Puerto Ayora,EC,64.54,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
5,Airai,TL,78.19,few clouds,-8.9266,125.4092,
8,Khash,IR,71.35,clear sky,28.2211,61.2158,خوابگاه آبجی محدثه
10,Kapaa,US,76.10,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
11,Fuling,CN,58.51,overcast clouds,29.7022,107.3919,Yingbin Hostel
12,Mar Del Plata,AR,59.09,overcast clouds,-38.0023,-57.5575,Gran Hotel Mar del Plata
13,Saint George,US,75.25,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [17]:
# In case of an empty DataFrame, load the sample data provided
# Create the output file (CSV) called WeatherPy_Database.
output_data_file = "WeatherPy_vacation.csv"
# Export the city_data DataFrame into a CSV file
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [12]:
# Using the template add city name, the country code, the weather description and max temperature for the city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(marker_layer)

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}<dd> and <dd>{Max Temp}°F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]


fig

Figure(layout=FigureLayout(height='420px'))

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [13]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

["\n<dl>\n<dt>Hotel Name</dt><dd>Ellie's Villa</dd>\n<dt>City</dt><dd>Mataura</dd>\n<dt>Country</dt><dd>NZ</dd>\n<dt>Current Weather</dt><dd>scattered clouds<dd> and <dd>55.96°F</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel Name</dt><dd>Intourist hotel</dd>\n<dt>City</dt><dd>Zaporizhzhya</dd>\n<dt>Country</dt><dd>UA</dd>\n<dt>Current Weather</dt><dd>broken clouds<dd> and <dd>58.17°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pousada e Restaurante Portal da Chapada</dd>\n<dt>City</dt><dd>Iacu</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>clear sky<dd> and <dd>69.84°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Finch Bay Galapagos Hotel</dd>\n<dt>City</dt><dd>Puerto Ayora</dd>\n<dt>Country</dt><dd>EC</dd>\n<dt>Current Weather</dt><dd>overcast clouds<dd> and <dd>64.54°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Airai</dd>\n<dt>Country</dt><dd>TL</dd>\n<dt>Current Weather</dt><dd>few clouds<dd> and <dd>78.19°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>خوابگاه آبجی محدثه</dd>\n<dt>City</dt><dd>Khash</dd>\n<dt>Country</dt><dd>IR</dd>\n<dt>Current Weather</dt><dd>clear sky<dd> and <dd>71.35°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>overcast clouds<dd> and <dd>76.1°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Yingbin Hostel</dd>\n<dt>City</dt><dd>Fuling</dd>\n<dt>Country</dt><dd>CN</dd>\n<dt>Current Weather</dt><dd>overcast clouds<dd> and <dd>58.51°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Gran Hotel Mar del Plata</dd>\n<dt>City</dt><dd>Mar Del Plata</dd>\n<dt>Country</dt><dd>AR</dd>\n<dt>Current Weather</dt><dd>overcast clouds<dd> and <dd>59.09°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Best Western Plus Abbey Inn</dd>\n<dt>City</dt><dd>Saint George</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky<dd> and <dd>75.25°F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [14]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0  -46.1927  168.8643
2   47.8167   35.1833
3  -12.7672  -40.2117
4   -0.7393  -90.3518
5   -8.9266  125.4092
8   28.2211   61.2158
10  22.0752 -159.3190
11  29.7022  107.3919
12 -38.0023  -57.5575
13  37.1041 -113.5841

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [15]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

In [16]:
fig

Figure(layout=FigureLayout(height='420px'))